services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:  # This sets runtime environment variables
      - .env
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
    volumes:
      - ./backend/cache:/app/cache # You need to create this dir and download cache files!!!
      - ./backend/storage:/app/storage
      # Optional: mount entire backend dir for dev (comment out in prod)
      # - ./backend:/app
    restart: unless-stopped

  frontend:
    env_file: # This sets runtime environment variables
        - .env
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: unless-stopped
