version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
      - INDEX_DIR=/app/cache
    volumes:
      - ./backend/cache:/app/cache # You need to create this dir and download cache files!!!
      - ./backend/storage:/app/storage
      # Optional: mount entire backend dir for dev (comment out in prod)
      # - ./backend:/app
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: unless-stopped